agents:
    trae_agent:
        enable_lakeview: false
        model: trae_agent_model
        max_steps: 160
        tools:
            - bash
            - str_replace_based_edit_tool
            - sequentialthinking
            - task_done

allow_mcp_servers: []
mcp_servers: {}

model_providers:
    openai_compatible:
        api_key: EMPTY
        provider: openai_compatible
        base_url: http://127.0.0.1:8000/v1

models:
    trae_agent_model:
        model_provider: openai_compatible
        model: Qwen3-8B
        max_tokens: 4096
        temperature: 0.2
        top_p: 1
        top_k: 0
        max_retries: 3
        parallel_tool_calls: false
